---
import Layout from "../layouts/Layout.astro";
import Countdown from '@components/Countdown';
import Pricing from '@components/Pricing';
import SectionHeading from '@components/SectionHeading.astro';
import Features from '@components/Features';
import Image from 'astro/components/Image.astro';
import HeroImage from '../assets/hero-3.webp';
import Modal from '@components/Modal.astro';
import CopyToClipboard from '@components/CopyToClipboard';

const endDate = new Date('2024-08-24T23:59:59');
const pixModal = 'pix_modal';
---

<style>
  section {
    scroll-snap-align: start;
    padding: 2rem;
    min-width: 100vw;
    min-height: 100vh;
  }
  .ball {
    width: 230px;
    height: 230px;
    background: oklch(var(--p));
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .hero-img {
    margin: 2rem auto 0;
  }
</style>
<Layout title='Clube Bang'>
  <main class='prose max-w-max'>
    <section
      class='hero min-h-screen mx-auto'
      >
      <div class="hero-content text-center sm:text-left flex-col sm:flex-row">
        <div class='sm:w-5/12'>
          <h1 class='text-5xl font-[Alegreya]'>Faça parte do <span class='text-6xl'><br>Bang Club</span></h1>
          <p class='font-light'>Seja membro e aproveite vantagens incríveis e descontos exclusivos no Bang</p>
          <button class="btn btn-primary text-white shadow-xl">TORNAR-SE UM MEMBRO</button>
        </div>
        <div class='relative sm:w-4/12 max-sm:w-full'>
          <div class='ball '></div>
          <Image decoding='sync' class='hero-img' width='160' height='350' src={HeroImage} alt='Clube Bang'  />
        </div>
      </div>
    </section>
    <section class='mx-auto bg-secondary'>
      <SectionHeading 
        sectionName="Bang Club"
        title="A carteirinha de vaqueiro mais vantajosa do Oeste"
        subtitle="Faça parte do nosso clube e ganhe diversos benefícios e desconto!"
        darkMode={true}/>
      <Features client:only='react' />
    </section>
    <section class='mx-auto'>
      <SectionHeading 
        sectionName="Planos"
        title="Planos para todo tipo de vaqueiro"
        subtitle="Escolha aquele que cabe melhor na sua rotina e bolso e venha fazer do seu hobby uma comunidade!" />
      <Pricing client:only='react' pixModal={pixModal}/>
    </section>
    <section class='mx-auto bg-secondary text-white flex flex-col align-center'>
      <div class='m-auto'>
        <SectionHeading 
          sectionName="Membro Fundador"
          title="Ganhe ainda mais assinando agora"
          subtitle="Assine o plano 'As Lendas do Oeste' até 8/8 e seja um membro fundador do Bang Club"
          darkMode={true}/>
        <div class='flex flex-col align-center'>
          <div class="stats max-sm:stats-vertical shadow rounded-box">
            <div class="stat place-items-center">
              <div class="stat-title">Desconto</div>
              <div class="stat-value">50%</div>
              <div class="stat-desc">Ao contratar seu primeiro evento in loco</div>
            </div>
          
            <div class="stat place-items-center">
              <div class="stat-title">Crédito</div>
              <div class="stat-value text-secondary">+R$200</div>
              <div class="stat-desc text-secondary">Para alugar ainda mais jogos</div>
            </div>
          
            <div class="stat place-items-center">
              <div class="stat-title">Seu nome no mural dos</div>
              <div class="stat-value">Herois do Oeste</div>
              <div class="stat-desc">E nossa eterna gratidão</div>
            </div>
          </div>
        </div>
        <Countdown client:only='react' endDate={endDate}/>
        <button class='mt-4 btn btn-primary text-white shadow-xl w-full'>ASSINE AGORA</button>
        </div>
    </section>
  </main>
</Layout>
<Modal dialogModal={pixModal}>
  <h3 class="text-lg font-bold text-secondary text-center">Pagar com Pix</h3>
  <div class="w-full p-2 pl-0 pr-0">
    <CopyToClipboard client:only='react' textToCopy="49.169.106/0001-02">
      <span>Copiar chave PIX</span>
    </CopyToClipboard>
  </div>
  <p class="text-center">Adicione um comentário 'Clube Bang' ao realizar o pagamento</p>
</Modal>
